body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

input:focus {
  box-shadow: none !important;
}

.ant-col.ant-form-item-control {
  flex: 1 1 100%;
} 

.ant-form-item {
  margin-bottom: 8px;
}