@import "tailwindcss";

@theme {
  --color-grey: #f4f4f4;
  --color-primary: #3772FF;
  --color-text: #f7f7f7;
}

.layout {
  @apply flex flex-col justify-between bg-grey min-h-screen;
}

footer {
  margin-top: auto;
}

.container {
  width: clamp(300px, 94vw, 1200px);
  margin: 0 auto;
}

button {
  cursor: pointer;
}

h1 {
  @apply text-5xl font-semibold;
}
h2 {
  @apply text-4xl font-semibold;
}
h3 {
  @apply text-3xl font-semibold;
}
h4 {
  @apply text-2xl font-medium;
}
h5 {
  @apply text-xl font-medium;
}