.ui-tabs-i.container {
  padding: 6px;
  border-radius: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  box-shadow: 0 10px 20px -9px rgb(0 0 0 / 20%);

  @media (width <= 420px) {
    flex-direction: column;
  }
}

.ui-tabs-i.container .tab {
  flex: 1;
  text-align: center;
  cursor: pointer;
  border-radius: 16px;
  padding: 4px 32px;
  min-width: max-content;
  transition: all linear 0.25s;
  
  @media (width <= 420px) {
    width: 100%;
  }
}